# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

### Node ###
# Dependency directories
node_modules/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Yarn Integrity file
.yarn-integrity

# Coveralls
coverage
*.lcov

# Benchmarking
benchmarks/graphs

# Other #
.env
.DS_Store
.nyc_output
.idea
out/
atlassian-ide-plugin.xml
